.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.show-grid {
  border: 1px solid #ddd;
}

.Button-action {
  width: 100px;
}

.show-bg-img {
    background-image: url('/stock-1863880_1280_blured.jpg');
    opacity: 0.8;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
